MediChatBot RAG.json
{
  "name": "MediChatBot RAG",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7fc5551d-cf6c-47a7-974a-fffdb351f7a3",
              "name": "fileId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        -2016
      ],
      "id": "d6a9e792-76ff-442c-8e80-c62f40464ab9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1MDCETcB64uF_hwjZUyr7y2ZqlXOCUm_O",
          "mode": "list",
          "cachedResultName": "AI ChatBot (Make.Com) -- RAG Source",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1MDCETcB64uF_hwjZUyr7y2ZqlXOCUm_O"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        -2112
      ],
      "id": "b36d2119-0f4b-4b8c-aa09-20ee67a55c93",
      "name": "Upload of Document",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "N2qQ3VedBw23qFRW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1MDCETcB64uF_hwjZUyr7y2ZqlXOCUm_O",
          "mode": "list",
          "cachedResultName": "AI ChatBot (Make.Com) -- RAG Source",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1MDCETcB64uF_hwjZUyr7y2ZqlXOCUm_O"
        },
        "event": "fileUpdated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        -1904
      ],
      "id": "aff6efed-c20b-4890-b24f-260adf1228a5",
      "name": "Document is Modified",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "N2qQ3VedBw23qFRW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.fileId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        768,
        -2016
      ],
      "id": "55db251f-1e40-411f-8b1f-ad01e51aea06",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "N2qQ3VedBw23qFRW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        992,
        -2016
      ],
      "id": "3d73c51c-d173-465a-ba6a-6c5b6dbe2069",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "a8nWYR8LIxOrEVMg",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        960,
        -1776
      ],
      "id": "10c68ab7-86ae-4cb1-8122-b2c96503f20f",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "mWo75Ca8MOAuP2uh",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "fileId",
                "value": "={{ $('Edit Fields').item.json.fileId }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1200,
        -1776
      ],
      "id": "fd040ca1-3d94-4344-ab2b-db4ce52a7d0f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1056,
        -2160
      ],
      "id": "0fb1e846-e032-4c35-b49f-147d11519d9a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1088,
        -1936
      ],
      "id": "7a222ddb-e9c9-4fb4-9c00-090e6168b850",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "r7A4l85hOCU3uEE6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -944,
        -1904
      ],
      "id": "c2b3605d-ae2f-47ac-a46c-925c71e36514",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        -784,
        -1744
      ],
      "id": "4fae78fa-47cb-435a-80cd-d6023a5073d4",
      "name": "Embeddings Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "mWo75Ca8MOAuP2uh",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use tool as the information is used to answer the user's question regarding first aid",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 15,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -784,
        -1920
      ],
      "id": "d1960dcc-f9e1-4a21-858d-1bc0659f25eb",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "a8nWYR8LIxOrEVMg",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata ->>fileId=like.*{{ $json.fileId }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        320,
        -2016
      ],
      "id": "88940052-e93e-4edc-8499-9e8584417970",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "a8nWYR8LIxOrEVMg",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        528,
        -2016
      ],
      "id": "1c78894f-0eaf-4ffd-a34c-f93885e7241c",
      "name": "Limit"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "003921a4-729b-4677-bf10-757a59db7de6",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1376,
        -2160
      ],
      "id": "785c55d1-6069-4894-ae5c-0a3c62df8b17",
      "name": "Webhook",
      "webhookId": "003921a4-729b-4677-bf10-757a59db7de6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -704,
        -2160
      ],
      "id": "da074b85-e63e-43e5-8476-08fbfb77500a",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Document is Modified": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload of Document": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7f4f2723-83e3-4032-87f8-5635caaeb878",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "42d5f14696b1283d7f2183f580d81824d6ae4cc966ced966940eaca716708176"
  },
  "id": "LbrzUhZzpTDGMZxJ",
  "tags": []
}